@charset "UTF-8";

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

div:first-child {
	width: 1024px;
	margin: auto;
}

input[type="button"]{
	width: 75px;
	height: 25px;
	background-color: #4782A4;
	border: 2px solid #4782A4;
	color: #fff;
}

input[type="button"]:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

input[type="submit"]{
	width: 75px;
	height: 25px;
	background-color: #4782A4;
	border: 2px solid #4782A4;
	color: #fff;
}

input[type="submit"]:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

input[type="reset"]{
	width: 75px;
	height: 25px;
	background-color: #4782A4;
	border: 2px solid #4782A4;
	color: #fff;
}

input[type="reset"]:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

button {
	width: 75px;
	height: 25px;
	background-color: #4782A4;
	border: 2px solid #4782A4;
	color: #fff;
}

button:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

.button{
	width: 75px;
	height: 25px;
	background-color: #4782A4;
	border: 2px solid #4782A4;
	color: #fff;
}

.button:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

a{
	text-decoration: none;
}

a:hover{
	color: red;
}

.nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.nav a{
	display: block;
	width: 75px;
	height: 25px;
	background-color: #4782A4;
	border: 2px solid #4782A4;
	color: #fff;
}

.nav a:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}
